$black-color: black;

$breakpoints: (
  xl: 1400,
  lg: 1200,
  md: 1044,
  sm: 788,
  xs: 640,
);
$containers: (
  xl: 1200,
  lg: 1024,
  md: 768,
  sm: 640,
  xs: 440,
);

$font-size-base: 16px;